.env
.venv
.DS_Store
.idea
.vscode
.pytest_cache
.pytest_cache/*
.pytest_cache/**/*
.pytest_cache/**/**/*
.pytest_cache/**/**/**/*
.pytest_cache/**/**/**/**/*
.pytest_cache/**/**/**/**/**/*  
package-lock.json
package-lock.json/*
package-lock.json/**/*
package-lock.json/**/**/*
package-lock.json/**/**/**/*
package-lock.json/**/**/**/**/*
package-lock.json/**/**/**/**/**/*
__pycache__
__pycache__/*
__pycache__/**/*
__pycache__/**/**/*
__pycache__/**/**/**/*
__pycache__/**/**/**/**/*
__pycache__/**/**/**/**/**/*
run_nexus.sh
nexus.log
__pycache__